<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcademicFiles</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
   
   <div class="File-Download">
            <ul>
                <li> <a href="/StudyFiles/DocScanner Nov 19, 2022 6-25 PM.pdf" download="Maths-Assignment"> Maths Assignment</a>
                </li>
                <li> <a href="/StudyFiles/DocScanner Nov 19, 2022 6-25 PM.pdf" download="Science-Assignment"> Science Assignment</a>
                </li>
                <li> <a href="/StudyFiles/DocScanner Nov 19, 2022 6-25 PM.pdf" download="Social-Assignment"> Social Assignment</a>
                </li>
                <li> <a href="/StudyFiles/DocScanner Nov 19, 2022 6-25 PM.pdf" download="Hindi-Assignment"> Hindi Assignment</a>
                </li>
            </ul>
           </div>
</body>
</html>