<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Predictor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <h1 class="cc">Carrer Predictor</h1>
    <form action="/predict" method="post" class="ii">
        {% for subject in ['Maths', 'Physics', 'Biology', 'Chemistry', 'Economics', 'Civics', 'C', 'C++', 'Python', 'History', 'Geography', 'Running', 'Shoutput', 'Longjump', 'Highjump', 'Javelinthrow', 'Cricket', 'Football', 'Volleyball', 'Hockey', 'Kabaddi', 'Dance', 'Music'] %}
            <label for="score{{ loop.index }}">{{ subject }}:</label>
            <input type="number" name="score{{ loop.index }}"  required value="0" ><br>
        {% endfor %}
        <button type="submit">Predict</button>
    </form>
</body>
</html>
