<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="h-primary">Teacher login</h1>
   <div class="frm">
    <form action="backend.php" class="formgroup">
        <label for="username"></label>
        <input type="text" name="" id="" placeholder="Enter your name">
        <label for="password"></label>
        <input type="password" name="" id="" placeholder="Enter your password">
        <button class="but"><a class="link">Login</a></button>
    </form>
   </div>
</body>
</html>